body {
  background-color: #fcfcfc;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.welcome {
  margin: 0 auto;
  width: 70%;
}

.flexRow {
  display: flex;
}

.flexRow button {
  flex: 5;
  margin: 1rem;
}

.flexRow h2 {
  flex: 3;
  text-align: center;
}
